<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager>
      <providers>
        <add name="sitecore"
          patch:instead="*[@name='sitecore']"
          type="Sitecore.Links.LinkProvider, Sitecore.Kernel"
          addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="never" languageLocation="filePath" lowercaseUrls="false" shortenUrls="false" useDisplayName="false" />
      </providers>
    </linkManager>

    <pipelines>

      <httpRequestEnd>
         <!--<processor patch:delete="true" type="Sitecore.ExperienceExplorer.Business.Pipelines.HttpRequestProcessed.LoginVirtualUser, Sitecore.ExperienceExplorer.Business" 
                   patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']"/>--> 
         <!--<processor patch:delete="true" type="Sitecore.ExperienceExplorer.Business.Pipelines.HttpRequestProcessed.RetrieveRenderingsPipeline,Sitecore.ExperienceExplorer.Business"></processor>--> 
      </httpRequestEnd>
      
      <initialize>
        <processor type="SitecoreMobile.Pipelines.Loaders.InitRoutes, SitecoreMobile"
                   patch:before="*[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
      <mvc.requestBegin>
        <!-- remove and re-insert the start tracking procesor before the FormHandler processor -->
        <!-- it is now the responsibility of the form handler actions to cancel the tracking if it does a redirect or a unwanted page visit-->
        <processor type="Sitecore.Mvc.Analytics.Pipelines.MvcEvents.RequestBegin.StartTracking, Sitecore.Mvc.Analytics">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Mvc.Analytics.Pipelines.MvcEvents.RequestBegin.StartTracking, Sitecore.Mvc.Analytics"  
          patch:after="*[@type='Sitecore.Mvc.Pipelines.Request.RequestBegin.SetupPageContext, Sitecore.Mvc']"/>
        
        <!--<processor type="SitecoreMobile.Pipelines.RequestBegin.StartTracking, SitecoreMobile"  
                   patch:after="*[@type='Sitecore.Mvc.Pipelines.Request.RequestBegin.SetupPageContext, Sitecore.Mvc']" />-->
      </mvc.requestBegin>
      <mvc.renderRendering>
        <!-- <processor type="SitecoreMobile.Pipelines.Response.RenderRendering.ResetRenderingModel, SitecoreMobile" 
                   patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.InitializeProfiling, Sitecore.Mvc']"/> -->
      </mvc.renderRendering>
      <mvc.actionExecuting>
      </mvc.actionExecuting>
      <mvc.actionExecuted>
      </mvc.actionExecuted>
      <mvc.resultExecuting>
      </mvc.resultExecuting>
      <mvc.resultExecuted>
      </mvc.resultExecuted>
      <mvc.createController>
      </mvc.createController>
      <mvc.requestBegin>
      </mvc.requestBegin>
      <mvc.requestEnd>
      </mvc.requestEnd>
    </pipelines>
  </sitecore>
</configuration>


